* {
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* section header */
.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  width: 90%;
  margin: auto;
  background-color: #f2f2f2;
}

.header__logo_place_header {
  position: absolute;
  width: 183px;
  height: 32px;
  margin-left: 64px;
  margin-top: 30px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  margin-left: 64px;
  font-size: 102px;
  align-self: center;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  line-height: 25px;
  margin-left: 64px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 18px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

/* section description */
.two-columns {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

/* section digits */
.digits {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  line-height: 1.15;
  font-size: 60px;
  width: 60%;
  text-align: center;
}

.section__subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin-top: 20px;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-right: 25px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
}

/* section feynman */
.feynman {
  background-image: url(/images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  position: relative;
  height: 890px;
  width: 90%;
  margin-top: 100px;
  margin: auto;
}

.feynman__text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
}

/* section kaufman */
.kaufman {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-height: 450px;
  margin: auto;
  background-color: #1f1f1f;
  color: #f2f2f2;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
  width: 877px;
  height: 877px;
}

.section__title_theme_dark {
  width: 60%;
  margin-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  text-align: center;
}

.section__subtitle_theme_dark {
  font-weight: normal;
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
}

.table__dark {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  margin-right: 20px;
}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
}

/* footer */
.footer {
  background-color: #1f1f1f;
  color: #f2f2f2;
  width: 90%;
  min-height: 350px;
  margin: auto;
}
.footer__columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__column-copyright {
  flex-basis: 711px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
}

.footer__logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column-social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
